@mixin line-items {
    display: inline-block;
    margin-bottom: 5px;
    line-height: 30px;
    padding: 0px 6px;
    border: 2px solid #fcfcfc;
    text-shadow: 0 2px 0 rgba(0,0,0,.5);
}

/**
 * Index
 */
#ani-hd {
    -webkit-animation-duration: 5s;
    animation-duration: 5s; 
}

#sec-head {
    font-size: 60px;
    display: inline-block;
    margin-bottom: 5px;

    @include media-query($on-palm) {
        font-size: 46px;
    }
}

.sm-hd {
    margin-bottom: 15px;
}

.hd-title {
    font-size: 20px;
    margin-bottom: 15px;
}

#bio-pic {
    border-radius: 50%;
    width: 150px;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;  
}

.typed-row {
    margin-top: 2%;
}

#typed {
    @include media-query($on-palm) {
        padding: 0% 10%;
    }
}
.section-0 {
    text-align: center;
    height: 500px;
    padding-top: 8%;
}

.social {
    letter-spacing: 3px;
    margin-top: 15px;

    .fa-github:hover {    
        color: #ffa500;
    }

    .fa-camera-retro:hover {
        color: #cc0000;
    }

    .fa-envelope-o:hover {
        color: #198C19;
    }

    .fa-file-text-o:hover { 
        color: #800080;
    }
}



/**
 * Projects
 */

#proj-head, #proj-second {
    -webkit-animation-duration: 5s;
    animation-duration: 5s; 
}

.imgWrap {
    position: relative;
    height: 100%;
    width: 100%;
    border: 5px solid #fcfcfc;
    box-shadow: 8px 8px 30px 0px #5a5a5a;
}

.imgDescription {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(76, 76, 76, 0.95);
    color: #fcfcfc;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s linear;
}

.imgText {
    padding: 15% 10%;
    text-align: center;

    @include media-query($on-palm) {
        padding: 5% 10%;
        font-size: 12px;
    }

    h1 {
        @include media-query($on-iphone5) {
            font-size: 22px;
        }
    }
}

.imgWrap:hover .imgDescription {
    visibility: visible;
    opacity: 1;
}

.technologies {
    margin-top: 5%;
    list-style: none;
    display: block;
    margin-left: 0px;


    li {
        @include line-items;

        @include media-query($on-iphone5) {
            margin-bottom: 1px;
            line-height: 20px;
            padding: 0px 2px;
            border: 1px solid #fcfcfc;
        }
    }
}

.proj-social {
    letter-spacing: 8px;
    
    a {    
        color: #fcfcfc;
        &:hover {
            color: black;
        }
    }

} 

.proj-row {
    margin-top: 5%;
}
 

/**
 * About
 */

.abt-me {
    text-align: justify;
}

.dev-icons {
    font-size: 40px;
    color: #333333;
    text-align: center;
    margin-left: 0px;

    li {
        display: inline;
        // line-height: 35px;
        padding: 9px 9px;
        // text-shadow: 0 2px 0 rgba(0,0,0,.5);
    }
}

.rad-charts {
    text-align: center;

    h2 {
       font-family: 'Satisfy', cursive; 
    }
}

.exp-icons {
    text-align: center;
    
    h2 {
        font-family: 'Satisfy', cursive;   
        margin-bottom: 20px;  
    }

    img {
        border-radius: 50%;
    } 

    .exp-logo:hover {
        background-color: black;
    }
}


/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }

    @include media-query($on-palm) {
        font-size: 18px;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.foot-data {
    text-align: center;
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    background-image: url(../assets/images/ignasi_pattern_s.png);
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
